<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresDefault "access plus 1 day"
</IfModule>

<IfModule mod_headers.c>
	Header set Cache-Control "cache, store, max-age=86400, must-revalidate"
</IfModule>

<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/css
</IfModule>
