/* Product list */
table.product-list {
	width: 100%;
	border-collapse: collapse;
}

	table.product-list tr.head td {
		font-size: 18px;
		padding: 10px 6px;
		border-bottom: 1px #573627 solid;
	}
	
	table.product-list tr.product td {
		font-size: 14px;
		padding: 6px;
		border-bottom: 1px #987C6F dotted;
	}
	
	table.product-list tr.total td {
		padding: 12px 6px;
		font-size: 18px;
		background: #F3F3F3;
		border-top: 1px #987C6F dashed;
		border-bottom: 1px #987C6F dashed;
	}
	
	table.product-list tr.total-tax td {
		font-size: 12px;
		border-bottom: none;
	}
	
	
	table.product-list td.price,
	table.product-list td.total {
		text-align: right;
	}
	
	
	table.product-list tr.product td.pic {
		width: 85px;
		height: 100px;
	}
	
	table.product-list tr.product td.qty {
		width: 100px;
	}
	
	table.product-list tr.product td.price {
		width: 125px;
	}
	
	table.product-list tr.product td.total {
		color: #333;
		font-weight: bold;
		width: 175px;
	}
	
	
	table.product-list tr.shipping td.pic {
		height: 40px;
	}
	
	input.textbox-qty {
		background: #FAF2ED;
		border: 1px solid #987C6F;
		font-size: 14px;
		padding: 3px;
		width: 50px;
		margin-right: 5px;
		display: block;
		float: left;
	}
	
	a.btn-remove {
		background: url(../images/cart/deco_cart_remove.png) no-repeat 0 0;
		width: 22px;
		height: 22px;
		margin-top: 1px;
		text-indent: -9999px;
		display: block;
		float: left;
	}
	
		a.btn-remove:hover {
			background-position: 0 -22px;
		}
		
		a.btn-remove:active {
			background-position: 0 -44px;
		}
		
		
/* Cart buttons */
div.cart-buttons {
	background: url("../images/bg_content_store.png") repeat-x 0 50% #FFFFFF;
	padding: 12px;
	margin: 20px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ddd
}

	div.cart-buttons .back {
		float: left;
		padding: 9px;
		font-size: 11px;
		font-family: Arial, Helvetica, sans-serif;
	}
	
	div.cart-buttons .forward-link {
		float: right;
		padding: 11px;
		font-size: 11px;
		font-family: Arial, Helvetica, sans-serif;
	}
	
	div.cart-buttons .forward {
		float: right;
		padding: 9px 20px;
		background:#8f3408 url(../images/btn_brown.png) repeat-x 0 0;
		color: #FFF;
		text-decoration: none;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		font-size: 12px;
		font-family: Arial, Helvetica, sans-serif;
		border-style: none;
		cursor: pointer;
	}
	
	
		div.cart-buttons .forward:hover {
			background-position:0 -8px;
		}
	
	
/* Infoboxes */
div.checkout-infobox {
	padding: 10px;
	background: url(../images/cart/bigicon_confirm.png) 10px 10px no-repeat #dcffd1;
	border: 1px #85FE6F solid;
	margin: 16px 0;
}

	div.checkout-errorbox {
		background-image: url(../images/cart/bigicon_error.png);
		border: 1px #900 solid;
	}
	
	div.checkout-infobox div {
		margin-left: 60px;
		height: 48px;
	}
	
	div.checkout-infobox p {
		font-size: 13px;
		color: #333;
		margin: 0 0 3px;
	}
	
	
/* Shipping methods table */
#shipping-methods table {
	border-top: 1px #e7e7e7 dashed;
	border-bottom: 1px #e7e7e7 dashed;
	width: 100%;
	margin-bottom: 20px;
}

	#shipping-methods table td.name {
		font-size: 14px;
		width: 320px;
	}
	
	#shipping-methods table td.info {
		font-size: 10px;
		width: 300px;
		padding: 5px 0;
	}
	
	#shipping-methods table td.total {
		font-size: 14px;
		text-align: right;
		color: #333;
	}


/* Payment module stuff */
#payment-listing {
	margin-bottom: 20px;
}

table.payment-methods {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
}
	
	table.payment-methods td.radio {
		padding: 10px;
		border-bottom: 1px #ccc dashed;
		width: 35px;
	}
	
	table.payment-methods td.name {
		padding: 10px 0;
		font-weight: bold;
		font-size: 14px;
		border-bottom: 1px #ccc dashed;
	}
	
	table.payment-methods td.desc {
		padding: 8px 0 15px 0;
	}
	
div.payment-continue {
	text-align: right;
}

input.cc-cardname {
	width: 200px;
}

input.cc-cardnum {
	width: 200px;
}

select.cc-type {
	width: 120px;
}

select.cc-exp {
	width: 80px;
}

input.cc-cvn {
	width: 50px;
}


/* Confirmation */
table#payment-confirmation {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 30px;
}

	table#payment-confirmation th,
	table#payment-confirmation td {
		border-bottom: 1px #ccc dashed;
		padding: 8px 12px;
		font-size: 14px;
		text-align: left;
	}
	
	table#payment-confirmation th {
		font-weight: bold;
		width: 200px;
	}


@media print {
	#payment-steps { display: none; }
	div.checkout-infobox { display: none; }
	div.cart-buttons { display: none; }
}


