
/* ---- bad ie message ---- */


.old-browser {
  background: #cc1e34;
  text-align: center;
  padding: 10px 20px;
  color: #fff;
}

.old-browser a {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}

.old-browser a:hover,
.old-browser a:focus,
.old-browser a:active {
  color: #fff;
  text-decoration: none;
}


/* ---- Flexboxgrid polyfill ---- */

.-row:before,
.-row:after {
  content: " ";
  display: table;
}

.-row:after {
  clear: both;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  float: left;
}

.row.reverse .col-xs,
.row.reverse .col-xs-1,
.row.reverse .col-xs-2,
.row.reverse .col-xs-3,
.row.reverse .col-xs-4,
.row.reverse .col-xs-5,
.row.reverse .col-xs-6,
.row.reverse .col-xs-7,
.row.reverse .col-xs-8,
.row.reverse .col-xs-9,
.row.reverse .col-xs-10,
.row.reverse .col-xs-11,
.row.reverse .col-xs-12,
.row.reverse .col-xs-offset-0,
.row.reverse .col-xs-offset-1,
.row.reverse .col-xs-offset-2,
.row.reverse .col-xs-offset-3,
.row.reverse .col-xs-offset-4,
.row.reverse .col-xs-offset-5,
.row.reverse .col-xs-offset-6,
.row.reverse .col-xs-offset-7,
.row.reverse .col-xs-offset-8,
.row.reverse .col-xs-offset-9,
.row.reverse .col-xs-offset-10,
.row.reverse .col-xs-offset-11,
.row.reverse .col-xs-offset-12 {
  float: right;
}


@media only screen and (min-width: 48em) {

  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    float: left;
  }
  .row.reverse .col-sm,
  .row.reverse .col-sm-1,
  .row.reverse .col-sm-2,
  .row.reverse .col-sm-3,
  .row.reverse .col-sm-4,
  .row.reverse .col-sm-5,
  .row.reverse .col-sm-6,
  .row.reverse .col-sm-7,
  .row.reverse .col-sm-8,
  .row.reverse .col-sm-9,
  .row.reverse .col-sm-10,
  .row.reverse .col-sm-11,
  .row.reverse .col-sm-12,
  .row.reverse .col-sm-offset-0,
  .row.reverse .col-sm-offset-1,
  .row.reverse .col-sm-offset-2,
  .row.reverse .col-sm-offset-3,
  .row.reverse .col-sm-offset-4,
  .row.reverse .col-sm-offset-5,
  .row.reverse .col-sm-offset-6,
  .row.reverse .col-sm-offset-7,
  .row.reverse .col-sm-offset-8,
  .row.reverse .col-sm-offset-9,
  .row.reverse .col-sm-offset-10,
  .row.reverse .col-sm-offset-11,
  .row.reverse .col-sm-offset-12 {
    float: right;
  }

}

@media only screen and (min-width: 64em) {


  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    float: left;
  }

  .row.reverse .col-md,
  .row.reverse .col-md-1,
  .row.reverse .col-md-2,
  .row.reverse .col-md-3,
  .row.reverse .col-md-4,
  .row.reverse .col-md-5,
  .row.reverse .col-md-6,
  .row.reverse .col-md-7,
  .row.reverse .col-md-8,
  .row.reverse .col-md-9,
  .row.reverse .col-md-10,
  .row.reverse .col-md-11,
  .row.reverse .col-md-12,
  .row.reverse .col-md-offset-0,
  .row.reverse .col-md-offset-1,
  .row.reverse .col-md-offset-2,
  .row.reverse .col-md-offset-3,
  .row.reverse .col-md-offset-4,
  .row.reverse .col-md-offset-5,
  .row.reverse .col-md-offset-6,
  .row.reverse .col-md-offset-7,
  .row.reverse .col-md-offset-8,
  .row.reverse .col-md-offset-9,
  .row.reverse .col-md-offset-10,
  .row.reverse .col-md-offset-11,
  .row.reverse .col-md-offset-12 {
    float: right;
  }
}

@media only screen and (min-width: 75em) {

  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    float: left;
  }

  .row.reverse .col-lg,
  .row.reverse .col-lg-1,
  .row.reverse .col-lg-2,
  .row.reverse .col-lg-3,
  .row.reverse .col-lg-4,
  .row.reverse .col-lg-5,
  .row.reverse .col-lg-6,
  .row.reverse .col-lg-7,
  .row.reverse .col-lg-8,
  .row.reverse .col-lg-9,
  .row.reverse .col-lg-10,
  .row.reverse .col-lg-11,
  .row.reverse .col-lg-12,
  .row.reverse .col-lg-offset-0,
  .row.reverse .col-lg-offset-1,
  .row.reverse .col-lg-offset-2,
  .row.reverse .col-lg-offset-3,
  .row.reverse .col-lg-offset-4,
  .row.reverse .col-lg-offset-5,
  .row.reverse .col-lg-offset-6,
  .row.reverse .col-lg-offset-7,
  .row.reverse .col-lg-offset-8,
  .row.reverse .col-lg-offset-9,
  .row.reverse .col-lg-offset-10,
  .row.reverse .col-lg-offset-11,
  .row.reverse .col-lg-offset-12 {
    float: right;
  }
}