/* ------------------------------------------------------

Styles for rich text ediors

Copy the Typography section from your global styles please

**** Typography
**** Design Patterns
**** Images
**** Tables
**** Helper classes


------------------------------------------------------ */

body {
	padding: 10px;
}


/* ------------------------------------------------------
**** Box Model Reset
------------------------------------------------------ */

*, *:before, *:after {
	box-sizing: border-box;
}


/* ------------------------------------------------------
**** Typography
------------------------------------------------------ */

html {
	font-size: 62.5%;
}

body {
	line-height: 24px;
	line-height: 2.4rem;
	font-size: 1.6em;
	color: #222;
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* ---- Headings ---- */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin: 0 0 1.5rem 0;
	font-family: Helvetica;
	font-weight: bold;
}
	h1 small,
	h2 small,
	h3 small,
	h4 small,
	h5 small,
	h6 small {
		font-weight: normal;
		line-height: 1;
		color: #8a7b7b;
	}

	p + h1,
	p + h2,
	p + h3,
	p + h4,
	p + h5,
	p + h6 {
		margin-top: 3rem;
	}


h1, .h1 {
	line-height: 3.6rem;
	font-size: 2.8rem;
}

h2, .h2 {
	font-size: 2.4rem;
}

h3, .h3 {
	font-size: 1.9rem;
}

h4, .h4 {
	font-size: 1.8rem;
}

h5, .h5 {
	font-size: 1.7rem;
}

.heading-inline {
	display: inline;
	float: left;
	padding: 0;
}

p,
ol,
ul,
dl,
address {
	margin: 0 0 1.5rem;
}

small {
	font-size: 1.28rem;
}


/* ---- Lists ---- */
ul,
ol {
	padding: 0 0 0 2rem;
}

li ul,
li ol {
	margin: 1rem 0;
}

ul.inline,
ol.inline {
	list-style-type: none;
	margin-left: 0;
}
	ul.inline > li,
	ol.inline > li {
		display: inline-block;
		padding-left: 12px;
		padding-right: 12px;
	}

/* ---- Quotations ---- */
blockquote {
	margin: 15px;
	margin: 1.5rem;
	padding: 25px 30px;
	background: #F3F3F3;
	color: #444444;
	font-style: italic;
	position: relative;
}

blockquote *:last-child {
	margin-bottom: 0;
}

blockquote:before,
blockquote:after {
	position: absolute;
	font-size: 13rem;
	display: block;
	height: 25px;
	width: 50px;
	color: #c7cfdb;
	font-style: italic;
	line-height: 10px;
	font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;
}

blockquote:before {
	content: '\201C';
	top: 38px;
	left: -8px;
}

blockquote:after {
	content: '\201D';
	bottom: -36px;
	right: 18px;
}

.blockquote--left {
	float: left;
	width: 45%;
	margin-left: 0px;
	margin-right: 20px;
	clear: right;
}

.blockquote--right {
	float: right;
	width: 45%;
	margin-left: 20px;
	margin-right: 0px;
	clear: left;
}

/* ---- HR ---- */
hr {
	box-sizing: content-box;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 2em 0;
	padding: 0;
	clear: right; /* --------!!!! Change this to left if the sidebar is on the right !!!!-------- */
}


/* ---- Text level elements ---- */
abbr[title] {
	border-bottom: 1px dotted #c6bfbf;
	cursor: help;
}

b, strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

ins {
	background-color: #f6f6f6;
	color: #473f3f;
	text-decoration: none;
}

mark {
	background-color: #f6f6f6;
	color: #473f3f;
	font-style: italic;
	font-weight: bold;
}

pre,
code,
kbd,
samp {
	font-family: Monaco, Courier New, monospace;
	color: #484040;
	background: #efefef;
	background: rgba(0, 0, 0, .07);
	padding: 0 2px;
	margin: 0 -2px;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}


/* ---- Links ---- */
a {
	color: #e85505;
	word-break: break-word;
}

a:hover {
	color: #d74c00;
}

/* Address `outline` inconsistency between Chrome and other browsers. */
a:focus {
	outline: thin dotted;
}

/* Improve readability when focused and also mouse hovered in all browsers. */
a:active,
a:hover {
	outline: 0;
}


/* ------------------------------------------------------
**** Design Patterns
------------------------------------------------------ */

/* ---- Buttons ---- */
.button {
	display: inline-block;
	margin-bottom: 0;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-weight: normal;
	line-height: 1;
	color: #fff;
	background-color: #e85505;
	text-decoration: none;
	border-radius: 3px;
	border: none;
	padding: 1rem 15px 0.8rem;
}

.button-hover,
.button:hover,
.button:focus {
	background-color: #ae550d;
	color: #fff;
}

.button-small {
	font-size: 1.2rem;
	line-height: 0.8rem;
	padding: 5px 8px 5px;
	margin: -2px 0
}

.button-large {
	font-size: 2rem;
	padding: 15px 18px 10px;
}

.button-block {
	display: block;
}

/* Disabled/unavailable button style */
.button[disabled],
.button-disabled,
.button-disabled:hover,
.button-disabled:focus,
.button-disabled:active {
	border: none;
	background-image: none;
	opacity: 0.4;
	cursor: default;
	box-shadow: none;
}

/* Gets the buttons to line up with form inputs when you want them to */
.button.inline {
	margin-bottom: 0.75em;
}

/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/* ---- Expando ---- */
.expando {
	padding: 20px 25px 5px;
	background-color: #f0f0f3;
	border: none;
	margin: 30px 0;
}

/* ---- Highlight ---- */
.highlight {
	margin: 0 0 1.5rem;
	padding: 30px;
	background: #f6f6f6;
	clear: both;
}
.highlight,
.highlight--right,
.highlight--left {
	margin: 1.5rem 0;
	padding: 30px;
	background: #f6f6f6;
}

.highlight--left {
	float: left;
	width: 45%;
	margin-right: 20px;
	clear: right;
}

.highlight--right {
	float: right;
	width: 45%;
	margin-left: 20px;
	clear: left;
}

.highlight--right {
	float: right;
}

.highlight *:last-child,
.highlight--right *:last-child,
.highlight--left *:last-child {
	margin-bottom: 0;
}



/* ---- Site Messages ---- */
ul.messages {
	background: #f6f6f6;
	border: 2px solid #D6D6D6;
	font-family: arial,sans-serif;
	list-style-type: none;
	margin: 15px 0 30px 0;
	padding: 0;
}
	ul.messages.all-type-error {
		border-color: #900;
		background: #fee;
	}
	ul.messages.all-type-confirm {
		border-color: #090;
		background: #efe;
	}
	ul.messages li {
		margin: 0;
		padding: 10px 15px;
		vertical-align: bottom;
		text-align: center;
		font-size: 1.6rem;
		line-height: 1.2em;
	}

/* ------------------------------------------------------
**** Tables
------------------------------------------------------ */


table {
	border-collapse: collapse;
	border: 1px solid #d7d7d7;
}

th,
td {
	padding: 5px 10px;
	border: 1px solid #d7d7d7;
}

th,
thead td {
	background: #f6f6f6;
}

/* ---- Content tables ---- */
.table--content-standard {
	width: 100%;
	margin: 2rem 0;
}
.table--content-standard caption {
	text-align: left;
	padding-bottom: 13px;
}
.table--content-standard th,
.table--content-standard thead td {
	font-weight: bold;
	background-color: #F0F0F0;
	font-size: 1.7rem;
}
.table--content-standard td {
	background-color: #FFF;
}
.table--content-standard th,
.table--content-standard td {
	border: 1px solid #d7d7d7;
	padding: 12px 15px;
	text-align: left;
}


/* Small */
.table--content-standard.table--content-small {
	font-size: 1.3rem;
}
.table--content-standard.table--content-small th,
.table--content-standard.table--content-small td {
	padding: 5px 10px;
}
.table--content-standard.table--content-small th,
.table--content-standard.table--content-small thead td {
	font-size: 1.4rem;
}

/* ---- Responsive table ---- */
table.responsive {
	overflow: auto;
	overflow-y: hidden;
	overflow-x: auto;
	display: block;
}

/* ---- No Styles Table ---- */
/*These are different from global so you can view them in the editor*/
.table__no-styles {
	border-collapse: separate;
	background: none;
	min-width: 0;
}

	.table__no-styles th,
	.table__no-styles thead td,
	.table__no-styles td {
		padding: 3px;
		border: 0;
		background: none;
	}




/* ------------------------------------------------------
**** Helper classes
------------------------------------------------------ */

/* ---- Clearfix ---- */
.clear {
	height: 0;
	clear: both;
	display: block;
}

.-clearfix:before,
.-clearfix:after {
	content: " ";
	display: table;
}

.-clearfix:after {
	clear: both;
}


/* ---- Hiding classes ---- */
.-ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
}

.-ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.-hidden {
	display: none !important;
	visibility: hidden;
}

.-vis-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.-vis-hidden.focusable:active,
.-vis-hidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.-invisible {
	visibility: hidden;
}

/* ---- Pseudo elements ---- */

/* Angle Brackets */
.-r-arrow-after:after {
	content: "\00a0\003e";
}
.-r-arrow-before:before {
	content: "\003e\00a0";
}
.-l-arrow-after:after {
	content: "\00a0\003c";
}
.-l-arrow-before:before {
	content: "\003c\00a0";
}

/* Ellipsis */
.ellipsis-2:after {
	content: "..";
}
.ellipsis-3:after {
	content: "...";
}

/* ---- Floats and positioning ---- */

.left {
	margin: 0 15px 15px 0;
	float: left;
}

.right {
	margin: 0 0 15px 15px;
	float: right;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}