
/* ------------------------------------------------------
   Table of Contents

---- Layout


------------------------------------------------------ */

/* ---- Layout ---- */
.mainbar {
	float: right;
	width: 100%;
	padding-bottom: 30px;
}

