parameters:
    level: 5
    phpVersion: 80100
    paths:
        - src
    bootstrapFiles:
        - tests/web/index.php
        - src/bootstrap/phpunit.php
    ignoreErrors:
        - '#Access to an undefined property Sprout\\Helpers\\(Twig|Php)?View::\$.+#'
    excludePaths:
        - src/sprout/views
        - src/sprout/module_template

