parameters:
    level: 5
    phpVersion: 80100

    paths:
        - src

    bootstrapFiles:
        - tests/bootstrap.php

    ignoreErrors:
        - '#Access to an undefined property Sprout\\Helpers\\.*(Base|Twig|Php)?View::\$.+#'

    excludePaths:
        - src/sprout/views
        - src/sprout/Welcome/views
        - src/sprout/module_template
        - src/sprout/Helpers/phpqrcode
        - src/sprout/Helpers/TwoFactor

    dynamicConstantNames:
        - IN_PRODUCTION
        - ENVIRONMENT
        - SITES_ENVIRONMENT
        - SERVER_ONLINE
        - BootstrapConfig::ERROR_REPORTING
        - BootstrapConfig::TIMEZONE
        - BootstrapConfig::ORIGIN_CLEANUP_DEBUG
        - BootstrapConfig::ENABLE_KOHANA_CACHE
        - BootstrapConfig::ENABLE_MEDIA_CACHE

