<phpunit bootstrap="src/sprout/phpunit_bootstrap.php">
	<testsuites>
		<testsuite name="all">
			<directory>src/sprout/tests/</directory>
			<directory>src/modules/*/tests/</directory>
		</testsuite>
	</testsuites>
	<php>
		<const name="PHPUNIT" value="true"/>
		
		<!-- Set the base url for Selenium tests -->
		<const name="BASE_URL" value="http://example.com" />
	</php>
</phpunit>
