<div id="mobile-header">
    <div class="container">
        <button type="button" id="mobile-menu-button">
			<span class="-vis-hidden">Toggle menu</span>
			<span class="mobile-menu-button-top"></span>
			<span class="mobile-menu-button-middle"></span>
			<span class="mobile-menu-button-bottom"></span>
		</button>
    </div>
</div>