{% extends 'skin/inner' %}



{% if page_title is not defined %}
    {% set page_title = sprout.config('sprout.site_title') %}
{% endif %}

{% set controller_name = 'home' %}

{% set browser_title = browser_title ?: sprout.navigation.buildBrowserTitle(page_title) %}

{% if not sprout.social.meta.hasTitle() %}
    {% do sprout.social.meta.setTitle(page_title) %}
{% endif %}

{% block banner %}
    {% include "skin/layouts/03_home/_hero-banner" %}
{% endblock %}


{% block content_area %}

<div id="content" class="section section--content bg-white">
    <div class="container">
        <ul>
        {% for item in promos %}
        <li><a href="">{{item.heading}}</a></li>
        {% endfor %}
        </ul>

        {{ sprout.hello() }}
    </div>
</div>

{% endblock %}
