{# Inner template #}
{% extends 'skin/inner' %}


{% block content_area %}

    <div class="mainbar">

        <h1>{{ page_title }}</h1>

        {% include "skin/layouts/02_components/_breadcrumb" %}

        {{ sprout.notification.checkMessages()|raw }}

        {# This template can be inherited in a regular twig fashion. #}
        {# OR it can also be wrapped like a typical Sprout 3 skin - this is necessary for page skins. #}
        {% block main_content %}
            {{ sprout.replace.executeChain('main_content', main_content ?? '')|raw }}
        {% endblock %}

        {% if tags ?? false %}
            {{ sprout.include('sprout/tag_list', { tags: tags|sort }) }}
        {% endif %}
    </div>

{% endblock %}

