<footer id="footer">

<div class="section section--pre-footer">

        <div class="container">

            <div class="row">

                <div class="col-xs-12 col-sm-9">

                    <div class="row">

                        <div class="col-xs-12 col-sm-4">

                            <h2 class="footer-heading">Contact us</h2>

                            <p>
                                <strong>T:</strong> <a href="tel:618-5550-0976">+61 8 5550 0976</a><br>
                                <strong>E:</strong> <a href="mailto:test@example.com">test@example.com</a>
                            </p>
                            <p>12 Sprout Street<br>Sproutington SA 5432</p>

                        </div>
                        <div class="col-xs-12 col-sm-8">

                            <h2 class="footer-heading">Quicklinks</h2>

                            {{> @block-list }}
                        </div>

                    </div>

                </div>
                <div class="col-xs-12 col-sm-3">

                    <form action="subscriber/subscribe" method="get">
                        <h2 class="footer-heading">Sign up for our&nbsp;enews!</h2>

                        <div class="field-element field-element--text field-element--white field-element--hidden-label">
                            <div class="field-label">
                                <label for="firstName">First name</label>
                            </div>
                            <div class="field-input">
                                <input class="textbox" type="text" name="firstName" placeholder="Name">
                            </div>
                        </div>
                        <div class="field-element field-element--text field-element--white field-element--hidden-label">
                            <div class="field-label">
                                <label for="email">Email</label>
                            </div>
                            <div class="field-input">
                                <input class="textbox" type="email" name="email" placeholder="Email Address">
                            </div>
                        </div>

                        <button type="submit" class="button">Sign up</button>

                    </form>


                </div>

            </div>

        </div>

    </div>

<div class="section section--footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm--left-align">
                    <div class="footer__text">
                        <p>Copyright &copy; {{ year }} {{ company-name }}
                        </p>
                        <p>
                            <a href="http://getsproutcms.com" target="_blank" rel="nofollow">Powered by SproutCMS<span class="-vis-hidden">, view the website in a new window</span></a>
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-sm--right-align">
                    {{> @social-list }}
                </div>
            </div>

        </div>

    </div>

</footer>
