
{% apply spaceless %}
{% if sprout.navigation.matchedNode() %}
    <ul class="breadcrumb">
    {% for url, label in sprout.navigation.getCrumbs() %}
        <li>
        {% if not loop.last %}
            <a href="{{ url }}">{{ label }}</a>
        {% else %}
            <span>{{ label }}</span>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}
{% endapply %}
