{% if not banner ?? false %}
    {% set banner = sprout.navigation.banner()|raw %}
{% endif %}

{% set sectionName = sprout.navigation.sectionName %}


<div class="inner-banner section {{ banner ? 'inner-banner--has-img' : '' }}">

    {% if banner ?? false %}
    <div class="inner-banner__image"></div>
    <style>
        .inner-banner__image {
            background-image: url({{ sprout.file.resizeUrl(banner, 'c1600x400-cc~80') }}) !important;
        }
    </style>
    {% endif %}

    <div class="container inner-banner__content">
        <h1 class="inner-banner__title">{{ page_title }}  </h1>
        {% include "skin/layouts/01_core/_breadcrumb" %}
    </div>


</div>


