<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresDefault "access plus 1 day"
</IfModule>

<IfModule mod_headers.c>
	<FilesMatch "\.(?i:pdf|doc|xls|xlsx|docx|ods|odt|txt)$">
		Header set Content-Disposition attachment
	</FilesMatch>
	
	Header set Cache-Control "cache, store, max-age=86400, must-revalidate"
</IfModule>

<IfModule mod_mime.c>
	AddType video/mp4 .mp4
</IfModule>
