<IfModule mod_php5.c>
	# PHP settings for security and sanity
	php_flag allow_url_fopen 1
	php_flag allow_url_include 0
	php_flag magic_quotes_gpc 0
	php_value memory_limit "128M"
	php_value post_max_size "20M"
	php_flag register_globals 0
	php_flag session.auto_start 0
	php_flag session.use_cookies 1
	php_flag session.use_only_cookies 1
	php_value upload_max_filesize "16M"
	php_value variables_order "GPCS"

	# If the suhosin patch is installed, you will need this:
	#php_flag suhosin.session.encrypt 0
	#php_flag suhosin.cookie.encrypt 0
</IfModule>


# Turn on URL rewriting
RewriteEngine On

# If you are having trouble with the friendly urls, try this:
# RewriteBase /your/web/dir/

# Protect sprout files from being viewed
RewriteRule ^sprout/(config|temp|cache|views) - [F,L]
RewriteRule ^sprout/.+\.(sql|xml|php) - [F,L]
RewriteRule ^(config|docs) - [F,L]
RewriteRule \.(svn|git|sh) - [F,L]

# Protect secure files from being viewed
RewriteRule ^files/sec_ - [F,L]

# Media files with timestamps
RewriteRule ^media-[0-9]+/core/([a-z]+)/(.+) media/$1/$2 [L,E=LONGLONG:1]
RewriteRule ^media-[0-9]+/sprout/([a-z]+)/(.+) sprout/media/$1/$2 [L,E=LONGLONG:1]
RewriteRule ^media-[0-9]+/([_a-zA-Z0-9]+)/([a-z]+)/(.+) modules/$1/media/$2/$3 [L,E=LONGLONG:1]

# Skin files with timestamps
RewriteRule ^skin-[0-9]+/([_a-z0-9\-]+)/([a-z]+)/(.+) skin/$1/$2/$3 [L,E=LONGLONG:1]

# Give long-long files extra time
<IfModule mod_headers.c>
	Header set "Expires" "Mon, 12 Dec 2020 23:59:59 GMT" env=REDIRECT_LONGLONG
	Header set Cache-Control "cache, store, max-age=31536000" env=REDIRECT_LONGLONG
</IfModule>

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php?kohana_uri=$0 [QSA,PT,L]
