/**
* CSS which is used on the front-end and the admin
**/


a img {
	border-style: none;
}


/**
* Notification list
**/
:where(.messages) {
	padding: 0;
	margin: 0 0 15px 0;
	list-style-type: none;
	font-family: arial, sans-serif;
	font-size: 12px;
	zoom: 1;
}
	:where(.messages) li {
		display: block;
		vertical-align: bottom;
		margin: 0;
		padding: 5px 10px;
		font-size: 14px;
		list-style-type: none;
	}
	:where(.messages) .confirm {
		color: #005201;
	}
	:where(.messages) .error {
		color: #52000B;
	}
	:where(.messages) li span.action-link {
		padding-left: 25px;
	}


/**
* Notification box
**/
div#notification-box {
	padding: 20px;
}
	div#notification-box-links {
		width: auto !important;
		position: static !important;
		padding: 20px !important;
	}
	#notification-box-links {
		text-align: center;
	}
	#notification-box-links a {
		margin: 0 10px 0 0;
		font-family: 'Lucida Grande', Verdana, helvetica, arial, sans-serif;
	}

.widget-hasinfobox {
	position: relative;
}

	.widget-hasinfobox:hover {
		outline: 1px #999 dotted;
	}

	.widget-infobox {
		display: none;
		position: absolute;
		top: 0; right: 0;
		padding: 5px 10px;
		background: #CCC;
		color: #000;
		font-size: 12px;
		font-family: sans-serif;
	}

	.widget-hasinfobox:hover > .widget-infobox {
		display: block;
	}



/**
* Debugging - always show PREs in a readable fashion
**/
pre {
	text-align: left;
	background-color: white;
	color: black;
	padding: 10px;
	margin: 5px;
	font-size: 11px;
	border: 1px #CCC solid;
}


/* ---- Expando ---- */
.expando {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.expando p:last-of-type {
    margin-bottom: 0;
}

/* - Open button - */
.expando-open {
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: none;
    padding: 6px 0 3px 40px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    color: #35ab75;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 0 0 12px;
}
.expando-open__icon {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #f0f0f3;
    width: 26px;
    height: 26px;
    transform: translate(0, -50%);
}
.expando-open__icon:before,
.expando-open__icon:after {
    content: " ";
    width: 14px;
    height: 2px;
    background-color: #778294;
    display: block;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 200ms ease;
}
.expando-open__icon:after {
    transform: rotate(90deg);
}

/* Hover */
.expando-open:hover,
.expando-open:focus {
    color: #2d9c69;
    text-decoration: underline;
}

.expando-open:hover .expando-open__icon {
    background-color: #e4e4e8;
}
.expando-open:hover .expando-open__icon:before,
.expando-open:hover .expando-open__icon:after {
    background-color: #222932;
}

/* - Close button - */
.expando__close {
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: none;
    text-indent: -9999px;
    padding: 0;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.expando__close:before,
.expando__close:after {
    content: " ";
    width: 14px;
    height: 2px;
    background-color: #778294;
    display: block;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 200ms ease;
}
.expando__close:before {
    transform: rotate(-45deg);
}
.expando__close:after {
    transform: rotate(45deg);
}

/* Hover */
.expando__close:hover:before,
.expando__close:hover:after {
    background-color: #222932;
}


/* - Expanded - */
.expando.expando--expanded {
    clip: auto;
    height: auto;
    margin: 20px 0 30px;
    overflow: visible;
    position: relative;
    width: auto;
    padding: 25px 45px;
    background-color: #f0f0f3;
    animation: fadeInDown 200ms ease;
    animation-fill-mode: forwards;
}
.expando-open--expanded .expando-open__icon:before {
    transform: rotate(-45deg);
}
.expando-open--expanded .expando-open__icon:after {
    transform: rotate(45deg);
}
