.fb-google-map {
	border: 1px solid #CED2DC;
	border-radius: 5px;
	background-color: #EEF0F3;
}
.fb-google-map--search {
	padding: 10px 10px 0 10px;
}
.fb-google-map--search-label {
	display: inline-block;
	margin-right: 2%;
}
.fb-google-map--search-name {
	width: 50%;
	margin-right: 2%;
}


.fb-conditions--item .column {
	margin-right: 15px;
}
.fb-conditions--item .fb-conditions--field select {
	width: 15em;
}
.fb-conditions--item .fb-conditions--op select {
	width: 12em;
}

.fb-geocode {
	position: relative;
}

.fb-geocode__results {
	background-color: #fff;
	border-radius: 3px;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.fb-geocode__results:not(:empty) {
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
}

.fb-geocode__results__item {
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	padding: 5px;
}

.fb-geocode__results__item:hover {
	background-color: #eee;
}

.fb-geocode__results__item span {
	display: block;
	font-size: 0.9em;
}

.fb-geocode__results__item span:first-child {
	font-weight: bold;
	text-transform: capitalize;
}.fb-geocode {
	position: relative;
}

.fb-geocode__results {
	background-color: #fff;
	border-radius: 3px;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.fb-geocode__results:not(:empty) {
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
}

.fb-geocode__results__item {
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	padding: 5px;
}

.fb-geocode__results__item:hover {
	background-color: #eee;
}

.fb-geocode__results__item span {
	display: block;
	font-size: 0.9em;
}

.fb-geocode__results__item span:first-child {
	font-weight: bold;
	text-transform: capitalize;
}

.field-element--dualrange fieldset {
	position: relative;
	text-align: center;
}

.field-element--dualrange input {
	pointer-events: none;
	position: absolute !important;
	overflow: hidden;
	left: 0;
	top: 0.5em;
	width: 100%;
	outline: none;
	margin: 0;
	padding: 0;
}

.field-element--dualrange input::-webkit-slider-thumb {
	pointer-events: all;
	position: relative;
	z-index: 1;
	outline: 0;
	width: 0.5em;
	height: 0.5em;
}

.field-element--dualrange input::-moz-range-thumb {
	pointer-events: all;
	position: relative;
	z-index: 10;
	-moz-appearance: none;
	width: 0.5em;
	height: 0.5em;
}

.field-element--dualrange input::-moz-range-track {
	position: relative;
	z-index: -1;
	background-color: rgba(0, 0, 0, 1);
	border: 0;
}
.field-element--dualrange input:last-of-type::-moz-range-track {
	-moz-appearance: none;
	background: none transparent;
	border: 0;
}
.field-element--dualrange input[type=range]::-moz-focus-outer {
	border: 0;
}
