/* -- Global -- */
.widget-ImageGallery .image-gallery-cols {
	display: block;
	margin-left: -5px;
	margin-right: -5px;
}

.widget-ImageGallery .image-gallery-thumb {
	float: left;
	width: calc(50% - 10px);
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.widget-ImageGallery .image-gallery-thumb img {
	width: 100%
}

/* BP Smaller */
@media screen and (min-width: 35em) { /* 560px */
	.widget-ImageGallery .image-gallery-thumb {
		max-width: unset;
	}

	.image-gallery-col-3 .image-gallery-thumb {
		width: calc(33% - 10px);
	}
}

/* BP small */
@media screen and (min-width: 48em) { /* 768px */
	.image-gallery-col-4 .image-gallery-thumb {
		width: calc(25% - 10px);
	}

	.image-gallery-col-5 .image-gallery-thumb {
		width: calc(20% - 10px);
	}
}


/* ---- Sidebar Image Gallery ---- */

.image-gallery-side-wrap {
	margin-left: -2%;
	margin-right: -2%;
}

.image-gallery-side-thumb {
	float: left;
	width: 50%;
	padding: 2%;
}

