/* -- Global -- */
.widget-ImageGallery .image-gallery-thumb {
	float: left;
	width: 48.5%;
	margin-left: 3%;
	margin-bottom: 3%;
}

.widget-ImageGallery .image-gallery-thumb img {
	width: 100%
}

@media only screen and (max-width: 28.6875em) {/* 459 */
	.widget-ImageGallery .image-gallery-thumb:nth-child(2n+1) {
		margin-left: 0;
		clear: left;
	}
}

@media only screen and (min-width: 28.75em) and (max-width: 47.9375em) {/* 460 - 767 */
	.widget-ImageGallery .image-gallery-thumb {
		width: 31.3333%;
	}

	.widget-ImageGallery .image-gallery-thumb:nth-child(3n+1) {
		margin-left: 0;
		clear: left;
	}
}

@media only screen and (min-width: 48em) and (max-width: 61.9375em) {/* 768 - 991 */
	.widget-ImageGallery .image-gallery-thumb {
		margin-left: 2%;
		margin-bottom: 2%;
		width: 23%;
	}

	.widget-ImageGallery .image-gallery-thumb:nth-child(4n+1) {
		margin-left: 0;
		clear: left;
	}

	.widget-ImageGallery .image-gallery-rows-5 .image-gallery-thumb {
		width: 23.5%;
	}
}

@media only screen and (min-width: 62em) {/* 992 */
	.widget-ImageGallery .image-gallery-thumb {
		margin-left: 2%;
		margin-bottom: 2%;
		width: 23%;
	}

	.widget-ImageGallery .image-gallery-rows-4 .image-gallery-thumb:nth-child(4n+1) {
		margin-left: 0;
		clear: left;
	}
	.widget-ImageGallery .image-gallery-rows-5 .image-gallery-thumb {
		width: 18.4%;
	}

	/* -- Wide -- */
	.widget-ImageGallery .image-gallery-rows-5 .image-gallery-thumb:nth-child(5n+1) {
		margin-left: 0;
		clear: left;
	}
}

/* ---- Sidebar Image Gallery ---- */

.image-gallery-side-wrap {
	margin-left: -2%;
	margin-right: -2%;
}

.image-gallery-side-thumb {
	float: left;
	width: 50%;
	padding: 2%;
}

